body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #f7f6f3;
  color: #222;
  margin: 0;
  padding: 0 20px;
  line-height: 1.8;
}

header {
  text-align: center;
  padding: 40px 0;
  background: #d0cbbf;
  color: #222;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.book-list li {
  margin-bottom: 15px;
  font-size: 18px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background: #eee;
  font-size: 14px;
}